<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name = "viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <!--uploads icons from web-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>
            .inBrown { color: rgb(152, 91, 16);; }
          </style>
        <title> Bee Ready Footer</title>
    </head>
    <body>
        <footer>
            <div class="footer">
                <div class="row">
                    <div class="column"> <!--logo + icon-->
                        <img src = "Bee Ready Logo.png" alt = "Bee Ready Logo" width="600" class="center"></image>
                        <!--icons-->
                        <div class ="socialIcons">
                            <a href=""><i class = "fa-brands fa-facebook"></i></a>
                            <a href=""><i class = "fa-brands fa-instagram"></i></a>
                            <a href=""><i class = "fa-brands fa-twitter"></i></a>
                            <a href=""><i class = "fa-brands fa-youtube"></i></a>
                            <a href=""><i class = "fa-brands fa-google-plus"></i></a>
                        </div>
                    </div>
                    <div class="column"> <!--about us summary-->
                        <div class = "inBrown">
                            <h1>About Us</h1> 
                            <p> We are committed to bringing free family-child learning support to economically disadvantaged families who have little or no access to early learning opportunities. Our approach is learner-
                                    centered, teacher-guided and community supported. Working in partnership with families, we
                                    can build confidence in the family’s role as first teacher by providing support and education on
                                    the fundamentals of how children learn and child development. Our developmentally
                                    appropriate approach for children will enlist creativity, conversation, and play. Materials for
                                    continued home exploration and learning will be provided. We will support the need for early
                                    intervention and other social services.</p>
                        </div>
                    </div>
                    <div class="column"> <!--links-->
                        <div class = "footerNav">
                         <ul>
                            <li><a href="">Contact Us:</a></li>
                            <li><a href="">Email</a></li>
                            <li><a href="">Phone Number</a></li>
                            <li><a href="">Address</a></li>
                            <li><a href="https://eastonsd.org/m/events/show_event.jsp?REC_ID=2208376&id=0">Meetings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>        
            </div>
        </footer>
        <div class="footerBottom">
            <p>Copyright &copy;2024; Designed by <span class="designer">Bee Ready Blue</span></p>
        </div>
    </body>
</html>